# Home Assistant files
secrets.yaml
ip_bans.yaml
packages
image
tts
*.log*

# Home Assistant automations and blueprints, managed in UI
automations.yaml
blueprints/*

# Home Assistant custom components
custom_components

# Home Assistant themes, managed by HACS https://github.com/custom-components/hacs/
themes

# Addons
node-red

# IDE files
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
